@{
    ViewBag.Title = "Artistas";
}

<h2>@ViewBag.Title</h2>

<div ng-app="app" ng-controller="Controller">
    <table>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th></th>
            <th></th>
        </tr>
        <tr ng-repeat="artista in artistas">
            <td>{{artista.Id}}</td>
            <td ng-show="!isEdit(artista)">{{artista.Nome}}</td>
            <td ng-show="isEdit(artista)">
                <input type="text" ng-model="edit_artista.Nome"/>
            </td>
            <td>
                <button name="deleteButton" ng-click="delete(artista)" ng-show="!artista.IsLocked">
                    Excluir
                </button>
            </td>
            <td>
                <button name="editButton" ng-click="edit(artista)" ng-show="!artista.IsLocked">
                    Editar
                </button>
                <button name="updateButton" ng-click="update()" ng-show="artista.IsLocked">
                    Atualizar
                </button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="text" ng-model="add_artista.Nome"/>
            </td>
            <td colspan="2">
                <button name="addButton" ng-click="add()">Adicionar</button>
            </td>
        </tr>
    </table>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/SignalR")
    <script src="~/signalr/hubs"></script>

    <script>
        (function() {
            "use strict";

            var app = angular.module("app", []);

            app.controller("Controller", function($scope) {
                var hub = $.connection.artistaHub;

                $scope.add = function() {
                    hub.server.add($scope.add_artista);
                    $scope.add_artista.Nome = "";
                };

                $scope.delete = function(artista) {
                    hub.server.delete(artista);
                };

                $scope.edit = function(artista) {
                    hub.server.takeLock(artista);
                };

                $scope.update = function() {
                    hub.server.update($scope.edit_artista);
                    $scope.edit_artista = undefined;
                };

                $scope.isEdit = function(artista) {
                    if (typeof $scope.edit_artista === "undefined") {
                        return false;
                    }

                    return $scope.edit_artista.Id === artista.Id;
                };

                // SignalR events
                hub.client.add = function(artista) {
                    $scope.$apply(function() {
                        $scope.artistas.push(artista);
                    });
                };

                hub.client.all = function(artistas) {
                    $scope.artistas = artistas;
                };

                hub.client.delete = function(artista) {
                    $scope.$apply(function() {
                        removeById(artista.Id, $scope.artistas);
                    });
                };

                hub.client.takeLockSuccess = function(artista) {
                    $scope.$apply(function() {
                        $scope.edit_artista = artista;
                    });
                };

                hub.client.update = function(artista) {
                    $scope.$apply(function() {
                        updateById(artista.Id, $scope.artistas, artista);
                    });
                };

                hub.client.allLocks = function(locks) {
                    $scope.$apply(function() {
                        for (var i = 0; i < $scope.artistas.length; i++) {
                            $scope.artistas[i].IsLocked = false;
                        }

                        for (var i = 0; i < locks.length; i++) {
                            for (var j = 0; j < locks.length; j++) {
                                if (locks[i] === $scope.artistas[j].Id) {
                                    $scope.artistas[j].IsLocked = true;
                                    break;
                                }
                            }
                        }
                    });
                };

                $.connection.hub.start().done(function () {
                    console.log("start");
                });

                function updateById(id, array, item) {
                    for (var i = 0; i < array.length; i++) {
                        if (id === array[i].Id) {
                            array[i] = item;
                        }
                    }
                }

                function removeById(id, array) {
                    for (var i = 0; i < array.length; i++) {
                        if (id === array[i].Id) {
                            array.splice(i, 1);
                        }
                    }
                }
            });
        })();
    </script>
}
